:root {
    --primary-color: #2E6A4B;
    --background-left: #2E6A4B;
    --background-right: #F8F4EC;
    --text-color-light: #FFEAD9;
    --text-color-dark: #1C5B40;
    --link-color: #2E6A4B;
    --box-shadow: rgba(0, 0, 0, 0.1);
}

body {
    display: flex;
    height: 100vh;
    color: var(--text-color-dark);
}

.container {
    display: flex;
    width: 100%;
}

.left-panel {
    background-color: var(--background-left);
    color: var(--text-color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
}


.left-panel p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.right-panel {
    background-color: var(--background-right);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.login-box {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow);
    width: 80%;
    max-width: 500px;
}

.login-box h2 {
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 5px;
    text-align: center;
}

.login-box h3 {
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 00;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.form-links a {
    color: var(--link-color);
    text-decoration: none;
}

.form-links a:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    padding: 15px;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #24523b;
}

.footer-text {
    margin-top: 15px;
    font-size: 0.8rem;
    color: #888;
    text-align: center;
    font-style: italic;
}

@media (max-width: 768px) {
    .left-panel {
        display: none;
    }
    .right-panel {
        width: 100%;
    }
    .login-box {
        width: 90%;
    }
}