<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Vitaly</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="icon" href="/assets/vitally-ico.png" type="image/png">
</head>
<body>

    <div class="container">
        <div class="left-panel">
            <div>
                <img src="/assets/vitally-branco-sbg.png" alt="">
                <p>O cuidado na palma da sua mão</p>
            </div>
        </div>
    
        <div class="right-panel">
            <div class="login-box">
                <h2>Seja bem-vindo(a) à Vitaly!</h2>
                <h3>Acesse sua conta para continuar</h3>
                <form>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="senha">Senha:</label>
                        <input type="password" id="senha" name="senha" required>
                    </div>
                    <div class="form-links">
                        <a href="#">Cadastre-se</a>
                        <a href="#">Esqueceu sua senha?</a>
                    </div>
                    <button type="submit" class="login-button">Entrar</button>
                </form>
                <p class="footer-text">© 2025 Vitaly. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>

</body>
</html>