<nav class="sidebar" id="sidebar">
  <div class="sidebar-header">
    </br>
    <h5 class="sidebar-title">Bom dia Ana!</h5>
    <h5 class="sidebar-subtitle">UNIDADE 1</h5>
  </div>
  
  <ul class="sidebar-nav">
    <li class="sidebar-item">
      <a href="/index.html" class="sidebar-link">
        <i class="fas fa-home"></i>
        <span>Início</span>
      </a>
    </li>
    
    <li class="sidebar-item dropdown-sidebar">
      
      <a href="#" class="sidebar-link" data-bs-toggle="collapse" data-bs-target="#atendimentoSubmenu" aria-expanded="false">
        <i class="fas fa-hospital-alt"></i>
        <span>Atendimento</span>
      </a>
    </li>
    
    <li class="sidebar-item">
      <a href="/templates/paciente.html" class="sidebar-link">
        <i class="fa-solid fa-user-injured"></i>
        <span>Pacientes</span>
      </a>
    </li>

     <li class="sidebar-item">
      <a href="/templates/farmaceutico.html" class="sidebar-link">
        <i class="fa-solid fa-stethoscope"></i>
        <span>Farmacêuticos</span>
      </a>
    </li>
    
    <li class="sidebar-item">
      <a href="/templates/medicamento.html" class="sidebar-link">
        <i class="fa-solid fa-heart-pulse"></i>
        <span>Medicamentos</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a href="/templates/insights.html" class="sidebar-link active">
        <i class="fas fa-chart-line"></i>
        <span>Relatórios e Insights</span>
      </a>
    </li>
    
    <li class="sidebar-item">
      <a href="/templates/unidade.html" class="sidebar-link">
        <i class="fas fa-building"></i>
        <span>Gestão de Unidades</span>
      </a>
    </li>
    
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">
        <i class="fas fa-cog"></i>
        <span>Configurações</span>
      </a>
    </li>
  </ul>
  
  <!-- Sidebar toggle button for mobile -->
  <button class="sidebar-toggle" id="sidebarToggle">
    <i class="fas fa-bars"></i>
  </button>
</nav>

<!-- Sidebar overlay for mobile -->
<div class="sidebar-overlay" id="sidebarOverlay"></div>